body {
    background-color: rgb(124, 124, 231);
    text-align: center;

}

.container {
    background-color: brown;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px;
    display: block;
    font-size: 25px;

}

label {
    display: block;
    text-align: left;
    padding-left: 4rem;
}

input {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: 3px solid black;
    margin-bottom: 10px;
}

.select-option {
    height: 80%;
    width: 30px;
}

.div-level-checkbox {
    text-align: left;
}

.form-textarea {
    display: block;
    width: 75%;
    height: 30%;
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 70px;
}

.input-submit {
    color: black;
    background-color: rgb(27, 241, 27);
    border: 3px solid black;
    width: 80%;
    height: 40px;
}


p {}